# Todo

[ ] get mfrsr information from database?

# Objective
Here we convert the the raw mfrsr data into netcdf files. In the process data is chopped into daily files. Note, no additional actions are take. It is not recommended to use sun positions here.

In [4]:
import surfradpy.mfr_raw2netcdf as mfr_r2nc
import surfradpy.database as sfp_db

In [5]:
reload(mfr_r2nc)

In [7]:
daba = sfp_db.SurfradDatabase('../../../databases/surfrad_database.db')

In [6]:
sites = ['tbl',]
for site in sites:
    pass

In [24]:
prefix = '/Volumes/grad'

ci = mfr_r2nc.MfrsrRawToNetcdf(f'{prefix}/Inst/MFR/SURFRAD/tbl/mfrsr/raw/',
                      f'{prefix}/Inst/MFR/SURFRAD/tbl/mfrsr/raw.netcdf/v{{version}}/',
                      '{site}_mfrsr_raw_{year}{month}{day}.nc',
                      glob_pattern_raw='2026/*.xmd',
                      serialnumber = '648',
                      verbose = True
                          )

In [25]:
mpi = ci._make_masterplan_in()

In [27]:
mpi

,p2f_in,fname
58,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260101_010856.xmd
26,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260101_060739.xmd
12,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260101_121500.xmd
29,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260101_181329.xmd
37,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260102_010919.xmd
...,...,...
24,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260115_121514.xmd
19,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260115_181410.xmd
20,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260116_010903.xmd
16,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260116_060728.xmd
10,/Volumes/grad/Inst/MFR/SURFRAD/tbl/mfrsr/raw/2...,tbl_mfrsr_20260116_121441.xmd

# Next: during processing collect all the metadata and confirm match between available information from filename and content

## from file name extract sn

## from file extract head id

## get corresponding line from database

## does sn, head id and location match all info above?

## get deployment of this instrument and check if it is where it is supposed to be?

## format metadata in order to attache it to the output netcdf file

In [11]:
daba.snapshot()['tables']

['sites',
 'instrument_type',
 'channels_wl',
 'clearsky_fits',
 'sqlite_sequence',
 'deployments',
 'instruments_mfrsr']

In [36]:
daba.dump_table('instruments_mfrsr')

,index,Instrument,Place,Delivery,Logger,Logger_ID,Head_ID,Destination,Centroid_1625nm,Peak_1625nm,Filter_1625nm,Photodetector,Current_location,l_command,u_command,Location_1,OOB,Licor/Lamp,Field
0,1,632,mobile_1,2016-06-12 00:00:00,372.0,$B423,$5E86,mobile_1->GWN,1624.15,1623.597,1A,5476,GWN,L 15,U 10,"TCAP, RUT, WFIP2",6/28/2012; 10/15/2012,None,None
1,2,633,mobile_1,2016-06-12 00:00:00,373.0,$EBFB,$AD24,mobile_1->GWN,1623.14,1623.025,4A,5480,GWN,L -4,U -11,"TCAP, RUT, WFIP2",6/28/2012; 10/15/2012,None,None
2,3,634,ARM,2016-08-12 00:00:00,374.0,$C37E,$C287,ARM,None,NaN,None,None,SKA,L -2,U 5,None,2012-10-15 00:00:00,None,None
3,4,635,ARM,2016-08-12 00:00:00,375.0,$B351,$248C,ARM,None,NaN,None,None,SKA,L 7,U 48,None,2012-10-15 00:00:00,None,None
4,5,648,mobile_2,2016-01-14 00:00:00,390.0,$BF4F,$97A4,mobile_2,1623.58,1623.687,1B,6644,MLO,L 4,U -41,SLV,2016-09-26 00:00:00,None,None
5,6,649,mobile_2,2016-01-14 00:00:00,391.0,$C8C1,$19F2,mobile_2,1623.83,1623.889,5B,6645,SKA,L 4,U 32,SLV,2016-09-26 00:00:00,None,None
6,7,650,surfrad,2016-01-14 00:00:00,392.0,$EC88,$F3CE,FPK,1623.71,1623.766,7B,6646,FPK,L 4,U-21,PST,9/8/2015; 10/01/2016,2016-10-07 00:00:00,None
7,8,651,surfrad,2016-01-14 00:00:00,393.0,$F016,$ED2B,FPK,1623.97,1623.983,9B,6648,FPK,L 6,U-30,SXF,2016-10-01 00:00:00,2016-10-07 00:00:00,None
8,9,659,surfrad,2016-04-15 00:00:00,409.0,$D6EF,$3D6D,SXF,1623.68,1623.658,8B,None,SXF,L 5,U 31,None,6/6/2016,None,2016-06-06 00:00:00
9,10,660,surfrad,2016-04-15 00:00:00,410.0,$D824,$3126,TBL,1623.43,1623.506,10B,None,TBL,L 5,U ?,None,2015-06-19 00:00:00,None,None
10,11,661,surfrad,2016-04-15 00:00:00,411.0,$AA94,$C51D,TBL,1626.10,1626.494,2C,None,TBL,L 10,U ?,None,"6/19/2015, 6/22/15",None,None
11,12,662,surfrad,2016-04-15 00:00:00,412.0,$1B3D,$33EA,PST->CUCF,1625.73,1626.061,3C,None,PST,L 17,U ?,None,2015-06-02 00:00:00,None,None
12,13,663,surfrad,2016-04-15 00:00:00,413.0,$314B,$BB47,GWN->CUCF,1625.56,1626.017,4C,None,CUCF,L 13,U ?,None,2015-06-02 00:00:00,None,None
13,14,664,surfrad,2016-04-15 00:00:00,414.0,$2932,$495D,PST,1625.72,1626.104,5C,None,PST,L 3,U ?,None,2015-06-19 00:00:00,None,None
14,15,665,surfrad,2016-04-15 00:00:00,415.0,$21D9,$26B7,GWN->CUCF->PSU,1625.72,1626.055,6C,None,CUCF,L -1,U -13,None,2015-06-02 00:00:00,None,None
15,16,669,surfrad,2016-08-15 00:00:00,420.0,$2089,$718C,DRK,1623.47,1623.485,2B,7324,DRA,L 12,U ?,None,2015-09-04 00:00:00,2015-11-02 00:00:00,2015-11-02 00:00:00
16,17,670,surfrad,2016-08-15 00:00:00,421.0,$5A34,$0AA0,DRK,1623.71,1623.687,3B,7326,DRA,L 13,U ?,None,2015-09-04 00:00:00,2015-11-02 00:00:00,2015-11-02 00:00:00
17,18,671,surfrad,2016-08-15 00:00:00,422.0,$6468,$EB46,SXF,1623.26,1623.889,4B,7327,SXF,L -2,U -7,None,2016-06-06 00:00:00,None,2016-06-06 00:00:00
18,19,672,surfrad,2016-08-15 00:00:00,423.0,$377D,$DAB8,BON,1622.90,1622.872,10D,7328,BON,L 15,U ?,None,"9/8/15, 6/3/2016",None,2015-11-13 00:00:00
19,20,673,surfrad,2016-11-15 00:00:00,424.0,$C956,$B512,BON,1622.96,1622.872,11D,9562,BON,L 21,U 38,None,"9/8/15, 6/3/2016",None,2015-11-13 00:00:00
20,21,688,mobile,2020-12-11 00:00:00,NaN,$59B3,$9998,Mobile/Spare,None,1622.689,3A,A4828,YES,None,None,None,None,None,None
21,22,689,mobile,2020-12-11 00:00:00,NaN,$8636,$01A3,Mobile/Spare,None,1623.203,6B,A4829,YES,None,None,None,None,None,None
22,23,453,mobile_uv,None,NaN,$B9FB,$498F,DSRC,None,NaN,None,None,MLO,L -106,U -10,None,None,None,None
23,24,584,surfrad_615,None,NaN,None,None,DSRC,None,NaN,None,None,CUCF,L -40,U 15,None,None,None,None

In [ ]:
daba.execute_query(f'SELECT * FROM deployments WHERE Instrument')

In [ ]:
daba.execute_query(f'SELECT * FROM deployments WHERE Location = "{site}" COLLATE NOCASE')

In [20]:
deployment = daba.execute_query(f'SELECT * FROM deployments WHERE Location = "{site}" COLLATE NOCASE')

In [22]:
deployment.sort_values('Date_start')

,index,Date_start,Date_stop,Location,instrument_type_id,instrument_type,instrument_sn,facing
23,2,2015-04-14 00:00:00,2015-05-06 00:00:00,TBL,1,mfrsr,663,unk
30,2,2015-04-14 00:00:00,2015-05-06 00:00:00,TBL,1,mfrsr,665,down
4,3,2015-04-30 00:00:00,2015-06-30 00:00:00,TBL,1,mfrsr,659,unk
19,2,2015-04-30 00:00:00,2015-05-06 00:00:00,TBL,1,mfrsr,662,unk
31,3,2015-05-02 00:00:00,2015-05-02 00:00:00,TBL,1,mfrsr,665,unk
5,5,2015-05-02 00:00:00,2015-05-02 00:00:00,TBL,1,mfrsr,659,unk
24,3,2015-05-02 00:00:00,2015-05-02 00:00:00,TBL,1,mfrsr,663,unk
20,3,2015-05-02 00:00:00,2015-05-02 00:00:00,TBL,1,mfrsr,662,unk
25,5,2015-06-01 00:00:00,2015-06-03 00:00:00,TBL,1,mfrsr,663,unk
32,5,2015-06-01 00:00:00,2015-06-03 00:00:00,TBL,1,mfrsr,665,unk
21,5,2015-06-01 00:00:00,2015-06-03 00:00:00,TBL,1,mfrsr,662,unk
13,3,2015-06-03 00:00:00,2015-06-22 00:00:00,TBL,1,mfrsr,661,unk
27,4,2015-06-03 00:00:00,2015-06-19 00:00:00,TBL,1,mfrsr,664,unk
8,3,2015-06-03 00:00:00,2015-06-25 00:00:00,TBL,1,mfrsr,660,unk
14,4,2015-06-19 00:00:00,2015-06-19 00:00:00,TBL,1,mfrsr,661,unk
28,5,2015-06-19 00:00:00,2015-06-19 00:00:00,TBL,1,mfrsr,664,unk
9,4,2015-06-19 00:00:00,2015-06-19 00:00:00,TBL,1,mfrsr,660,unk
6,6,2015-06-19 00:00:00,2015-06-19 00:00:00,TBL,1,mfrsr,659,unk
33,6,2015-06-19 00:00:00,2015-06-25 00:00:00,TBL,1,mfrsr,665,unk
26,6,2015-06-22 00:00:00,2015-06-25 00:00:00,TBL,1,mfrsr,663,up
15,5,2015-06-22 00:00:00,2015-06-22 00:00:00,TBL,1,mfrsr,661,unk
34,7,2015-06-22 00:00:00,2015-06-22 00:00:00,TBL,1,mfrsr,665,unk
35,8,2015-06-22 00:00:00,2015-06-25 00:00:00,TBL,1,mfrsr,665,down
22,7,2015-06-30 00:00:00,2015-07-09 00:00:00,TBL,1,mfrsr,662,down
29,7,2015-06-30 00:00:00,2015-07-09 00:00:00,TBL,1,mfrsr,664,unk
16,7,2015-07-16 00:00:00,2016-08-19 00:00:00,TBL,1,mfrsr,661,down
10,6,2015-07-16 00:00:00,2016-08-19 00:00:00,TBL,1,mfrsr,660,up
7,8,2015-08-11 00:00:00,2015-09-02 00:00:00,TBL,1,mfrsr,659,unk
17,8,2015-10-14 00:00:00,2016-08-19 00:00:00,TBL,1,mfrsr,661,down
11,7,2015-10-14 00:00:00,2016-08-19 00:00:00,TBL,1,mfrsr,660,up
12,8,2016-08-23 00:00:00,present,TBL,1,mfrsr,660,up
18,9,2016-08-23 00:00:00,present,TBL,1,mfrsr,661,down
2,19,2020-03-26 00:00:00,2021-03-11 00:00:00,TBL,1,mfrsr,649,unk
0,23,2020-03-26 00:00:00,2021-03-11 00:00:00,TBL,1,mfrsr,648,unk
3,21,2021-05-13 00:00:00,present,TBL,1,mfrsr,649,unk
1,26,2021-05-31 00:00:00,planned,TBL,1,mfrsr,648,unk

Empty DataFrame
Columns: [index, Date_start, Date_stop, Location, instrument_type_id, instrument_type, instrument_sn, facing]
Index: []

# NEXT -- Trey to get the serial number programmatically

In [28]:
row = mpi.iloc[0]

In [31]:
import atmPy.data_archives.NOAA_ESRL_GMD_GRAD.surfrad.surfrad as atmsrf

In [ ]:
ds = atmsrf.read_raw(row.p2f_in)
ds = ds.dataset

In [40]:
ds.serial_no

'D824'

In [43]:
info = daba.execute_query(f'SELECT * FROM instruments_mfrsr WHERE Logger_ID = "${ds.serial_no}"')

In [51]:
assert(info.shape[0] == 1), f'More (or less) than one instrument with logger_ID = "${ds.serial_no}". found {info}.'

In [52]:
info = info.iloc[0]

In [53]:
info.Instrument

np.int64(660)

In [60]:
daba.execute_query(f'SELECT * FROM deployments WHERE instrument_sn = "{info.Instrument}" AND Date_stop="present"')

,index,Date_start,Date_stop,Location,instrument_type_id,instrument_type,instrument_sn,facing
0,8,2016-08-23 00:00:00,present,TBL,1,mfrsr,660,up

In [61]:
deployed = daba.execute_query(f'SELECT * FROM deployments WHERE Location = "{site}" COLLATE NOCASE')

In [ ]:
assert(

In [57]:
daba.dump_table('deployments')

,index,Date_start,Date_stop,Location,instrument_type_id,instrument_type,instrument_sn,facing
0,0,2014-06-23 00:00:00,2014-08-20 00:00:00,BAO,1,mfrsr,453,unk
1,1,2014-09-15 00:00:00,nan,SKA,1,mfrsr,453,unk
2,2,2016-04-22 00:00:00,2018-10-15 00:00:00,MLO,1,mfrsr,453,unk
3,3,2018-10-16 00:00:00,nan,CUCF,1,mfrsr,453,unk
4,4,2020-03-12 00:00:00,2020-03-24 00:00:00,SKA?,1,mfrsr,453,unk
...,...,...,...,...,...,...,...,...
273,4,2021-08-01 00:00:00,nan,YES,1,mfrsr,688,unk
274,0,2020-12-15 00:00:00,nan,2D401,1,mfrsr,689,unk
275,1,2021-03-01 00:00:00,2021-03-15 00:00:00,CUCF,1,mfrsr,689,unk
276,3,2021-10-01 00:00:00,planned,Kettle-Ponds,1,mfrsr,689,unk
277,4,2021-08-01 00:00:00,nan,YES,1,mfrsr,689,unk