# surfrad database interface

This database contains information about things that do not change all that frequently:

- instrument deployment
- instrument inventory

QC related databases, which change quit frequently,0 are disconnected to tis database as long as we are not having a central server that prevents simultanius writing.

In [27]:
import surfradpy.database as srfdb

In [28]:
reload(srfdb)

In [29]:
p2db = 'surfrad_database.db'
db = srfdb.SurfradDatabase(p2db)

In [47]:
db.snapshot()['tables']

['sites',
 'instrument_type',
 'channels_wl',
 'clearsky_fits',
 'sqlite_sequence',
 'deployments',
 'instruments_mfrsr']

In [45]:
db.dump_table('sqlite_sequence')

Empty DataFrame
Columns: [name, seq]
Index: []

## some useful commands

In [37]:
# delete table
db.execute_query('DROP TABLE IF EXISTS [what to delet];')

# update MFRSR_History

In [16]:
out = db.update_mfrsr_history('MFRSR_History.xlsx', 
                              # replace=True,
                              # dryrun=True
                             )

Instrument 451 has fist column with the name Purchased SN 451 w/stand from eBay July 2024 not "Date_start" as expected. This indicates that the instrument was never put into action ... bought for spare parts?
Instrument 607 has fist column with the name Brookhaven MFRSR not "Date_start" as expected. This indicates that the instrument was never put into action ... bought for spare parts?
Instrument 559 has fist column with the name Thermopile MFRSR (Standard filters) not "Date_start" as expected. This indicates that the instrument was never put into action ... bought for spare parts?
Instrument 584 has fist column with the name MFRSR purchased around 2013 not "Date_start" as expected. This indicates that the instrument was never put into action ... bought for spare parts?

ValueError: Table 'deployments' already exists.